body {
  font-family: 'Montserrat Alternates', sans-serif; }

.bg {
  background-image: url(images/winter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

h1 {
  color: #f0ffff; }

.form-group label {
  color: #f0ffff; }

.form-group input {
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  color: #6b6a6a; }

.form-group .form-control:focus {
  border-color: #6b6a6a;
  -webkit-box-shadow: 0;
  box-shadow: 0; }

.form-group .btn {
  line-height: 25px;
  color: #6b6a6a;
  background: #fffafa;
  height: 40px;
  border-radius: 10px; }

.container {
  background-color: #00000052;
  padding-top: 25px;
  max-width: 800px;
  border-radius: 5px; }

hr {
  width: 30%;
  border: solid 1px #f3f3f34d; }

.weather {
  color: snow;
  padding-bottom: 15px; }
  .weather h2 {
    padding: 15px 10px; }
  .weather p {
    padding: 20px 10px; }
