body {
	font-family: 'Montserrat Alternates', sans-serif;
}

.bg {
	background-image: url(images/winter.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	text-align: center;
	align-items: center;

}

h1 {
	color: #f0ffff;
}

.form-group {

	label {
		color: #f0ffff;
	}

	input {
		width: 50%;
		margin: 0 auto;
		border-radius: 10px;
		color: #6b6a6a;
	}

	.form-control:focus {
		border-color: #6b6a6a;
		box-shadow: 0;
	}

	.btn {
		line-height: 25px;
		color: #6b6a6a;
		background: #fffafa;
		height: 40px;
		border-radius: 10px;
	}

}


.container {
	background-color: #00000052;
	padding-top: 25px;
	max-width: 800px;
	border-radius: 5px;
}

hr {
	width: 30%;
	border: solid 1px #f3f3f34d;
}

.weather {
	color: snow;
	padding-bottom: 15px;


	h2 {
		padding: 15px 10px;
	}

	p {
		padding: 20px 10px;
	}
}
